.note-list{
  width: 60%;
  margin: 0 auto;
}
.note-list-item{
  width: 100%;
  min-height: 70px;
  padding: 20px 30px;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}
.sub-title{
  font-weight: 700;
}
.content{
  margin-top: 16px;
}